<div class="card">
<div class="image-header">
<img class="card-img-top" src='/img/salamelli.jpg' alt="Card image cap">
  <h4 class="card-title-image">

    <!-- inserire i profili social -->
    <span class="profile-avatar-nophoto">
      <span class="iniziali">Az</span>
    </span>
    Azienda 1
  </h4>
  <!-- inserire la distanza -->
</div>
<div class="card-body">

  <h6 class="row justify-content-between">
    <div class="col-4 tag-group">
      <span class="badge badge-primary">Agricoltura biologica</span>
    </div>
    <div class="col-6 card-icon-group">
    <span class="icon-badged">
    <i class="material-icons">comment</i>
      <span class="badge badge-pill badge-dark">4</span>
    </span>
    <span class="icon-badged">
    <i class="material-icons">thumb_up</i>
      <span class="badge badge-pill badge-dark">4</span>
    </span>
    <span class="icon-badged">
      <i class="material-icons">photo</i>
      <span class="badge badge-pill badge-dark">4</span>
    </span>
    </div>
  </h6>
  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
  <!-- inserire icone prodotti -->
</div>
<div class="card-footer container">
  <div class="row">
  <div class="col-2">
    <i class="material-icons">location_on</i>
  </div>
  <div class="col-10">
    <small class="text-muted"> via col vento 90126 Contrada mammaliturchi Petrialia (Pa) </small>
  </div>
</div>
</div>
</div>
